
<div class="page-fr-blogs-media-appearances">
    <div class="page-header">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="page-content">
        <div class="main-content page-main--wrapper" data-main="">
<div class="shopify-section" id="shopify-section-template--15957814345841__main"><!-- /sections/custom-blog-template.liquid -->
<div class="custom-blog-template">
<div class="grid blog-main--wrapper">
<div class="sitewide--title-wrapper grid__item">
<div class="sitewide--icon-wrapper">
<svg id="Layer_1" style="enable-background:new 0 0 198.2 198.2;" version="1.1" viewbox="0 0 198.2 198.2" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
<style type="text/css">
            	.st0{fill:#FFFFFF;}
            	.st1{clip-path:url(#SVGID_00000169534510195315938660000000943296092122716056_);}
            </style>
<ellipse class="st0" cx="99.1" cy="98.9" fill="#FFFFFF" rx="97.5" ry="98"></ellipse>
<g>
<defs>
<rect height="198.2" id="SVGID_1_" width="198.2"></rect>
</defs>
<clippath fill:="" id="SVGID_00000033337261436436953130000007806408872586258580_">
<use style="overflow:visible;" xlink:href="#SVGID_1_"></use>
</clippath>
<path d="M67.3,105.3
            		c3.4,0,6.8-2.6,6.8-7.8c0-5.2-3.4-7.8-6.8-7.8c-3.9,0-6.7,3.1-6.7,7.8C60.6,102.2,63.4,105.3,67.3,105.3" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M130.2,89.8
            		c-3.9,0-6.7,3.1-6.7,7.8c0,4.6,2.8,7.8,6.7,7.8c3.4,0,6.8-2.6,6.8-7.8C136.9,92.4,133.5,89.8,130.2,89.8" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M99.1,33.7
            		C63,33.7,33.7,63,33.7,99.1c0,36.1,29.3,65.4,65.4,65.4c36.1,0,65.4-29.3,65.4-65.4C164.5,63,135.2,33.7,99.1,33.7 M87.8,71.1h8.5
            		v24.1l9.4-11.7h9.7l-9.5,12l10.1,16.2h-9.5l-7-11.9l-3.3,3.9v8h-8.3V71.1z M52.6,97.6c0-9.3,5.9-14.9,12.9-14.9
            		c4.1,0,7.3,1.9,8.8,4.1h0.1c0,0-0.2-0.7-0.2-2.3V71.1h8.4v40.6h-7.7l-0.2-2.6c-0.1-1.1,0.1-1.9,0.1-1.9h-0.1
            		c-1.3,2.8-5,5.2-9.1,5.2C58.5,112.4,52.6,106.8,52.6,97.6 M145.6,127.2H54v-8.4h91.6V127.2z M137.9,111.6l-0.2-2.6
            		c-0.1-1.1,0.1-1.9,0.1-1.9h-0.1c-1.3,2.8-5,5.2-9.3,5.2c-7.1,0-13-5.6-13-14.9c0-9.3,5.9-14.9,13.1-14.9c4.1,0,7.9,2.3,9.2,5.1h0.1
            		c0,0-0.2-0.8-0.1-1.9l0.2-2.4h7.7v28.2H137.9z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M25.8,93.7l-2.5-0.3
            		c0.7-1,1.3-2.3,1.6-3.8c0.1-0.5,0.1-1,0-1.5c-0.1-1.1-0.5-1.8-1.3-1.9c-1.2-0.2-1.9,0.6-3,2.7c-1.3,2.6-2.6,3.8-5,3.5
            		c-2.6-0.3-3.8-2.7-3.4-5.7c0.2-1.5,0.8-2.8,1.2-3.6l2.4,0.3c-0.6,0.8-1.2,2.1-1.4,3.4c-0.2,1.7,0.3,2.9,1.4,3
            		c1,0.1,1.8-0.5,2.9-2.7c1.4-2.5,2.7-3.9,5-3.5c2.6,0.3,3.8,2.5,3.4,5.8C27,91.2,26.4,92.7,25.8,93.7" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<rect height="14.7" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;" transform="matrix(0.262 -0.9651 0.9651 0.262 -59.3038 78.6446)" width="2.6" x="20.5" y="70.7"></rect>
<path d="M23.8,68.4L23,68.7
            		l8.2,3.8l-1,2.2l-13.6-6.3l0,0l9.8-3l-4-9.4l0,0L36,62.2l-1,2.2l-8.2-3.8l0.3,0.8c0.8,1.8,1.6,3.6,2.4,5.4L23.8,68.4z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M35.5,53.6l4.3,3.3
            		l-1.6,2.1L26.5,50l2.8-3.7c2-2.6,4.6-3.3,7-1.4c2.4,1.8,2.5,4.5,0.5,7.1L35.5,53.6z M29.8,49.3l4,3l1.3-1.8c1-1.3,0.9-2.6-0.4-3.6
            		c-1.3-1-2.7-0.7-3.7,0.7L29.8,49.3z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<polygon points="46.4,48.9 
            		36.2,38.2 38.1,36.4 46.7,45.5 51.1,41.4 52.6,42.9 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<polygon points="54.8,41.3 
            		46.5,29.1 54.2,23.8 55.4,25.6 49.8,29.4 52.1,32.8 56.8,29.6 58,31.3 53.3,34.5 55.7,38 61.5,34.1 62.7,35.9 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<path d="M74.6,29.8l-0.7-2.4
            		c1.2,0.2,2.6,0.3,4.1,0c0.5-0.1,1-0.3,1.4-0.6c0.9-0.5,1.4-1.2,1.2-2c-0.3-1.1-1.3-1.5-3.7-1.7c-2.9-0.2-4.6-0.9-5.2-3.2
            		c-0.7-2.5,0.9-4.6,3.8-5.4c1.4-0.4,2.9-0.4,3.8-0.3l0.7,2.3c-0.9-0.2-2.4-0.2-3.7,0.1c-1.6,0.5-2.5,1.4-2.2,2.5
            		c0.3,1,1.2,1.5,3.6,1.6c2.9,0.2,4.6,0.9,5.2,3.2c0.7,2.5-0.8,4.5-3.9,5.4C77.4,29.9,75.7,29.9,74.6,29.8" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M92.6,11.6
            		c4.3-0.3,7.9,2.8,8.2,7.1c0.3,4.3-2.7,7.8-7.1,8.2c-4.3,0.3-7.8-2.8-8.2-7.1C85.2,15.6,88.2,11.9,92.6,11.6 M93.5,24.5
            		c2.9-0.2,4.9-2.6,4.6-5.6c-0.2-3-2.5-5.1-5.4-4.9c-2.9,0.2-4.9,2.6-4.7,5.6C88.3,22.6,90.6,24.7,93.5,24.5" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<polygon points="104.3,26.5 
            		106.1,11.8 108.6,12.1 107.1,24.6 113.1,25.4 112.8,27.5 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<path d="M128.1,26.5
            		c-1,3.2-3.8,4.6-7.3,3.5c-3.5-1.1-5-3.8-4-7.1l2.8-9.1l2.4,0.8l-2.8,8.8c-0.6,2,0.2,3.6,2.2,4.2c2,0.6,3.6-0.2,4.2-2.2l2.8-8.8
            		l2.5,0.8L128.1,26.5z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<polygon points="140.6,24.6 
            		134.6,35.7 132.4,34.4 138.3,23.4 134.6,21.3 135.6,19.4 145.4,24.7 144.4,26.7 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<rect height="2.6" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;" transform="matrix(0.5845 -0.8114 0.8114 0.5845 32.9599 132.4541)" width="14.8" x="138.4" y="32.8"></rect>
<path d="M161.3,37.3
            		c3,3.1,3,7.8-0.1,10.8c-3.1,3-7.7,3.1-10.8-0.1c-3.1-3.1-3-7.8,0.1-10.8C153.5,34.3,158.3,34.2,161.3,37.3 M152.2,46.4
            		c2.1,2.1,5.2,2,7.3-0.1c2.1-2.1,2.3-5.2,0.2-7.3c-2.1-2.1-5.2-2-7.3,0.1C150.2,41.2,150.1,44.3,152.2,46.4" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M163.8,66l3-12
            		c0.1-0.3,0.1-0.6,0.2-1l-7.9,4.9l-1.3-2.2l12.7-7.9l0,0.1l-3,12l-0.2,1l7.9-4.9l1.3,2.2L163.8,66L163.8,66z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M165.8,68.5l2.4-0.9
            		c-0.1,1.2-0.1,2.7,0.4,4.1c0.2,0.5,0.4,1,0.7,1.3c0.6,0.9,1.3,1.3,2.1,1c1.1-0.4,1.4-1.4,1.3-3.8c-0.1-2.9,0.5-4.6,2.7-5.5
            		c2.4-0.9,4.6,0.5,5.7,3.3c0.5,1.4,0.7,2.8,0.7,3.8l-2.3,0.9c0.1-1,0-2.4-0.5-3.7c-0.6-1.6-1.7-2.4-2.7-2c-1,0.4-1.3,1.4-1.3,3.8
            		c0,2.9-0.5,4.7-2.7,5.5c-2.4,0.9-4.6-0.4-5.8-3.4C166,71.2,165.8,69.6,165.8,68.5" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<polygon points="184.2,93.4 
            		180,93.6 180.3,98.9 178.1,99 177.8,93.7 171.6,94.1 171.5,91.5 186.2,90.7 186.6,99.5 184.5,99.6 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<path d="M185.9,111.5
            		c-0.6,4.3-4.4,7.1-8.6,6.5c-4.3-0.6-7.1-4.3-6.5-8.6c0.6-4.3,4.4-7.1,8.6-6.5C183.6,103.4,186.5,107.1,185.9,111.5 M173.1,109.6
            		c-0.4,2.9,1.5,5.3,4.5,5.7c2.9,0.4,5.5-1.3,5.9-4.2c0.4-2.9-1.6-5.3-4.5-5.7C176.1,104.9,173.5,106.7,173.1,109.6" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M181,129.5
            		c-1.2,3.1-3.5,4.5-6.3,3.5c-2-0.8-2.9-2.5-2.9-4.2l-6.6,1l1-2.6l6.1-0.7l0.9-2.4l-5.1-1.9l0.9-2.4l13.8,5.1L181,129.5z
            		 M179.8,126.5l-4.7-1.7l-0.9,2.4c-0.6,1.6-0.1,2.9,1.4,3.4c1.5,0.6,2.7-0.2,3.4-1.8L179.8,126.5z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<polygon points="151.8,149.1 
            		156.7,153.3 161,148.3 156.2,144.1 157.9,142.2 169,151.8 167.3,153.8 162.6,149.7 158.3,154.7 163,158.8 161.3,160.7 150.1,151.1 
            			" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<polygon points="147.1,153.8 
            		156.2,165.4 148.9,171.1 147.6,169.4 152.8,165.3 150.3,162.1 145.9,165.6 144.6,163.9 149,160.4 146.4,157.1 140.9,161.4 
            		139.6,159.7 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<path d="M139.2,177L139.2,177
            		l-13.1-10.1l2.4-1.2l2.5,2l5.4-2.8l-0.2-3.2l2.4-1.2L139.2,177z M132.6,169c1.6,1.3,3,2.4,4.3,3.7c-0.1-1.7-0.3-3.7-0.4-5.6
            		L132.6,169z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<polygon points="123.9,167.5 
            		128.2,181.6 125.8,182.3 122.1,170.3 116.3,172.1 115.7,170 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<polygon points="111.3,183.5 
            		109.3,171.1 111.8,170.6 113.8,183.1 118.1,182.4 118.4,184.6 107.4,186.3 107,184.2 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<polygon points="93.4,171.6 
            		93.2,178 99.8,178.2 100,171.8 102.6,171.9 102.2,186.6 99.6,186.6 99.8,180.4 93.1,180.2 92.9,186.4 90.3,186.3 90.8,171.5 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<polygon points="82.7,185.1 
            		80.5,177.9 75.4,183.4 72.6,182.7 79.8,175.2 81.1,169.5 83.7,170.1 82.4,175.8 85.5,185.7 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<polygon points="63.3,162.5 
            		55.4,174.9 53.2,173.5 60,162.9 54.9,159.7 56,157.9 	" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></polygon>
<rect height="2.6" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;" transform="matrix(0.6347 -0.7727 0.7727 0.6347 -106.7332 96.0407)" width="14.7" x="40.9" y="159.6"></rect>
<path d="M45.4,147.7L45.4,147.7
            		l-6.3,15.3l-1.9-2.1l1.9-4.4c0.9-2,1.6-3.6,2.4-5.3c-1.6,0.6-3.6,1.2-5.5,1.9l-4.6,1.5l-1.9-2.1L45.4,147.7z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<rect height="2.6" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;" transform="matrix(0.8299 -0.5579 0.5579 0.8299 -74.6103 42.5854)" width="14.8" x="25.1" y="142.3"></rect>
<path d="M30.8,124.2l-4.4,11.5
            		c-0.1,0.3-0.2,0.6-0.3,0.9l8.4-3.9l1.1,2.3l-13.6,6.3l0-0.1l4.4-11.5l0.3-0.9l-8.4,3.9l-1.1-2.3L30.8,124.2L30.8,124.2z" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M28.1,113.8
            		c1,4.5-1.5,8.4-5.7,9.3c-4.2,1-8.2-1.6-9.2-6c-0.5-2.2-0.2-3.9,0-4.6l2.4-0.5c-0.2,1-0.5,2.7-0.1,4.5c0.7,3.2,3.4,4.7,6.3,4.1
            		c2.9-0.7,4.7-3.2,4-6.3c-0.2-0.9-0.6-1.8-0.9-2.3l-4.1,0.9l-0.6-2.4l5.7-1.3C26.9,110.3,27.7,112.1,28.1,113.8" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
<path d="M99.1,0
            		C44.5,0,0,44.5,0,99.1c0,54.7,44.5,99.1,99.1,99.1s99.1-44.5,99.1-99.1C198.2,44.5,153.8,0,99.1,0 M196.1,99.1
            		c0,53.5-43.5,97-97,97s-97-43.5-97-97s43.5-97,97-97S196.1,45.7,196.1,99.1" style="clip-path:url(#SVGID_00000033337261436436953130000007806408872586258580_);fill:#F26178;"></path>
</g>
</svg>
<style>
            .sitewide--icon-wrapper{
              text-align: center;
            }
            .sitewide--icon-wrapper :is(img, svg){
                  max-width: 60px;
                  top: 30px;
              position: relative;
            }
            @media screen and (min-width: 768px){
              .custom-blog-template .blog-main--bg{
                height: 675px;
                margin-top: -200px;
              }
            }
            
          </style>
</div>
<h1 class="page--title">Comparution des supports</h1>
</div>
<div class="grid__item large--one-whole blog-template--main blog-template--grid">
<div class="grid__item category-tags--wrapper">
<div class="category-tags grid__item large--three-quarters">
<div class="h6">Browse By Category</div>
<span><a href="/fr/blogs/media-appearances/tagged/bone-broth" title="Show articles tagged Bone Broth">Bone Broth</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/diet-weight-loss" title="Show articles tagged Diet &amp; Weight Loss">Diet &amp; Weight Loss</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/dr-kellyann-on-dr-oz" title="Show articles tagged Dr. Kellyann on Dr. Oz">Dr. Kellyann on Dr. Oz</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/fiber" title="Show articles tagged fiber">fiber</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/fox" title="Show articles tagged FOX">FOX</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/gma" title="Show articles tagged GMA">GMA</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/good-day-la" title="Show articles tagged Good Day LA">Good Day LA</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/good-day-new-york" title="Show articles tagged Good Day New York">Good Day New York</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/immunity" title="Show articles tagged Immunity">Immunity</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/media-tv-segments" title="Show articles tagged Media &amp; TV Segments">Media &amp; TV Segments</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/the-good-dish" title="Show articles tagged The Good Dish">The Good Dish</a></span>
<span><a href="/fr/blogs/media-appearances/tagged/wellness" title="Show articles tagged Wellness">Wellness</a></span>
</div>
<div class="category-tags--mobile">
<div class="category-tags-header--mobile">
<div class="h6">Browse By Category</div>
<div class="h4">All</div>
<div class="category-tags--toggle"><svg height="18" viewbox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
<polyline fill="none" points="1 5.5 9 13.5 17 5.5" stroke="#2C2A3B" stroke-width="2"></polyline>
</svg>
</div>
</div>
<ul class="">
<li>
<span><a href="/fr/blogs/media-appearances/tagged/bone-broth" title="Show articles tagged Bone Broth">Bone Broth</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/diet-weight-loss" title="Show articles tagged Diet &amp; Weight Loss">Diet &amp; Weight Loss</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/dr-kellyann-on-dr-oz" title="Show articles tagged Dr. Kellyann on Dr. Oz">Dr. Kellyann on Dr. Oz</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/fiber" title="Show articles tagged fiber">fiber</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/fox" title="Show articles tagged FOX">FOX</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/gma" title="Show articles tagged GMA">GMA</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/good-day-la" title="Show articles tagged Good Day LA">Good Day LA</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/good-day-new-york" title="Show articles tagged Good Day New York">Good Day New York</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/immunity" title="Show articles tagged Immunity">Immunity</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/media-tv-segments" title="Show articles tagged Media &amp; TV Segments">Media &amp; TV Segments</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/the-good-dish" title="Show articles tagged The Good Dish">The Good Dish</a></span>
</li>
<li>
<span><a href="/fr/blogs/media-appearances/tagged/wellness" title="Show articles tagged Wellness">Wellness</a></span>
</li>
</ul>
</div>
</div>
<div class="grid grid--mobile-full wrapper">
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/fiber-maxing-the-viral-wellness-trend-explained">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="The Truth About Fiber Maxing and Gut Health" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59_1000x1000_crop_center.jpg?v=1750861168"/>
</noscript>
<img alt="The Truth About Fiber Maxing and Gut Health" class="js" height="1080" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59_1445x.jpg?v=1750861168" srcset="//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59_550x.jpg?v=1750861168 550w,//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59_750x.jpg?v=1750861168 750w,//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59_1100x.jpg?v=1750861168 1100w,//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59_1445x.jpg?v=1750861168 1445w,//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59_1680x.jpg?v=1750861168 1680w,//drkellyann.com/cdn/shop/articles/thumb_5_30a1e3da-4420-47e9-aa10-80a9ba7c1a59.jpg?v=1750861168 1920w" style="max-width: 1920px; max-height: 1080px; " width="1920"/>
</div>
</a>
<time class="indiv-post-time" datetime="2025-06-25">June 25, 2025</time>
<h3><a href="/fr/blogs/media-appearances/fiber-maxing-the-viral-wellness-trend-explained">The Truth About Fiber Maxing and Gut Health</a></h3>
<p></p><p>Dr. Kellyann appears on Good Day New York to explain the viral trend of fiber maxing, what it means for your gut health, and how to safely increase your fiber intake.</p>
<a class="btn cta" href="/fr/blogs/media-appearances/fiber-maxing-the-viral-wellness-trend-explained">Read More</a>
<div class="article--tags">
                            
                            Tags: 
                            
                                <a href="/fr/blogs/media-appearances/tagged/fiber" title="Show articles tagged fiber">fiber</a>, 
                            
                                <a href="/fr/blogs/media-appearances/tagged/good-day-new-york" title="Show articles tagged Good Day New York">Good Day New York</a>
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/spring-clean-your-body-dr-kellyann-s-simple-tips-from-good-day-new-york">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="Spring Clean Your Body: Dr. Kellyann’s Simple Tips from Good Day New York" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0_1000x1000_crop_center.jpg?v=1743525679"/>
</noscript>
<img alt="Spring Clean Your Body: Dr. Kellyann’s Simple Tips from Good Day New York" class="js" height="1080" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0_1445x.jpg?v=1743525679" srcset="//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0_550x.jpg?v=1743525679 550w,//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0_750x.jpg?v=1743525679 750w,//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0_1100x.jpg?v=1743525679 1100w,//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0_1445x.jpg?v=1743525679 1445w,//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0_1680x.jpg?v=1743525679 1680w,//drkellyann.com/cdn/shop/articles/thumb_dka_fd2c1409-ed83-4909-a7e0-2dd283f145b0.jpg?v=1743525679 1920w" style="max-width: 1920px; max-height: 1080px; " width="1920"/>
</div>
</a>
<time class="indiv-post-time" datetime="2025-04-01">April  1, 2025</time>
<h3><a href="/fr/blogs/media-appearances/spring-clean-your-body-dr-kellyann-s-simple-tips-from-good-day-new-york">Spring Clean Your Body: Dr. Kellyann’s Simple Tips from Good Day New York</a></h3>
<p></p><p>Dr. Kellyann Petrucci shares her favorite no-fuss tips for improving digestion, boosting energy, and feeling your best this season—starting with bone broth, healthy fats, and high-fiber foods.</p>
<a class="btn cta" href="/fr/blogs/media-appearances/spring-clean-your-body-dr-kellyann-s-simple-tips-from-good-day-new-york">Read More</a>
<div class="article--tags">
                            
                            Tags: 
                            
                                <a href="/fr/blogs/media-appearances/tagged/good-day-new-york" title="Show articles tagged Good Day New York">Good Day New York</a>
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/mood-boosting-foods-dr-kellyanns-picks-from-sherri">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="Mood-Boosting Foods: Dr. Kellyann's Picks from Sherri" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/share-sherri_520x500_520x500_56ed8bcc-c0d9-45d7-8055-84bf833ebe79_1000x1000_crop_center.jpg?v=1736955577"/>
</noscript>
<img alt="Mood-Boosting Foods: Dr. Kellyann's Picks from Sherri" class="js" height="273" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/share-sherri_520x500_520x500_56ed8bcc-c0d9-45d7-8055-84bf833ebe79_1445x.jpg?v=1736955577" srcset="//drkellyann.com/cdn/shop/articles/share-sherri_520x500_520x500_56ed8bcc-c0d9-45d7-8055-84bf833ebe79.jpg?v=1736955577 520w" style="max-width: 520px; max-height: 273px; " width="520"/>
</div>
</a>
<time class="indiv-post-time" datetime="2025-01-15">January 15, 2025</time>
<h3><a href="/fr/blogs/media-appearances/mood-boosting-foods-dr-kellyanns-picks-from-sherri">Mood-Boosting Foods: Dr. Kellyann's Picks from Sherri</a></h3>
<p></p><p>Dr. Kellyann shares her top mood-boosting food picks, from canned salmon to wild blueberries, on <em>Sherri</em>. Discover how these choices support brain health and overall wellness.</p>
<a class="btn cta" href="/fr/blogs/media-appearances/mood-boosting-foods-dr-kellyanns-picks-from-sherri">Read More</a>
<div class="article--tags">
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/5-simple-ways-to-upgrade-your-wellness-journey-in-2025">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="5 Simple Ways to Upgrade Your Wellness Journey in 2025" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/thumb_2_1000x1000_crop_center.jpg?v=1736281786"/>
</noscript>
<img alt="5 Simple Ways to Upgrade Your Wellness Journey in 2025" class="js" height="1080" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/thumb_2_1445x.jpg?v=1736281786" srcset="//drkellyann.com/cdn/shop/articles/thumb_2_550x.jpg?v=1736281786 550w,//drkellyann.com/cdn/shop/articles/thumb_2_750x.jpg?v=1736281786 750w,//drkellyann.com/cdn/shop/articles/thumb_2_1100x.jpg?v=1736281786 1100w,//drkellyann.com/cdn/shop/articles/thumb_2_1445x.jpg?v=1736281786 1445w,//drkellyann.com/cdn/shop/articles/thumb_2_1680x.jpg?v=1736281786 1680w,//drkellyann.com/cdn/shop/articles/thumb_2.jpg?v=1736281786 1920w" style="max-width: 1920px; max-height: 1080px; " width="1920"/>
</div>
</a>
<time class="indiv-post-time" datetime="2025-01-07">January  7, 2025</time>
<h3><a href="/fr/blogs/media-appearances/5-simple-ways-to-upgrade-your-wellness-journey-in-2025">5 Simple Ways to Upgrade Your Wellness Journey in 2025</a></h3>
<p>On Good Day NY, Dr. Kellyann shared expert tips for upgrading your diet in 2025 with simple habits like bone broth, protein, and fermented foods.</p>
<a class="btn cta" href="/fr/blogs/media-appearances/5-simple-ways-to-upgrade-your-wellness-journey-in-2025">Read More</a>
<div class="article--tags">
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/trash-try-it-or-twist-it-debunking-tiktok-food-trends">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="Trash, Try It or Twist It: Debunking TikTok Wellness Trends" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_1000x1000_crop_center.jpg?v=1730486916"/>
</noscript>
<img alt="Trash, Try It or Twist It: Debunking TikTok Wellness Trends" class="js" height="3107" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_1445x.jpg?v=1730486916" srcset="//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_550x.jpg?v=1730486916 550w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_750x.jpg?v=1730486916 750w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_1100x.jpg?v=1730486916 1100w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_1445x.jpg?v=1730486916 1445w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_1680x.jpg?v=1730486916 1680w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_2048x.jpg?v=1730486916 2048w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_2200x.jpg?v=1730486916 2200w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1_2890x.jpg?v=1730486916 2890w,//drkellyann.com/cdn/shop/articles/2_-_10_24_24_1.jpg?v=1730486916 4893w" style="max-width: 4893px; max-height: 3107px; " width="4893"/>
</div>
</a>
<time class="indiv-post-time" datetime="2024-11-01">November  1, 2024</time>
<h3><a href="/fr/blogs/media-appearances/trash-try-it-or-twist-it-debunking-tiktok-food-trends">Trash, Try It or Twist It: Debunking TikTok Wellness Trends</a></h3>
<p>Debunking TikTok food trends: On Good Day NY, I joined Rosanna Scotto and Curt Menefee to explore what works, what's hype, and how to make health trends work for lasting results.</p>
<a class="btn cta" href="/fr/blogs/media-appearances/trash-try-it-or-twist-it-debunking-tiktok-food-trends">Read More</a>
<div class="article--tags">
                            
                            Tags: 
                            
                                <a href="/fr/blogs/media-appearances/tagged/good-day-new-york" title="Show articles tagged Good Day New York">Good Day New York</a>, 
                            
                                <a href="/fr/blogs/media-appearances/tagged/media-tv-segments" title="Show articles tagged Media &amp; TV Segments">Media &amp; TV Segments</a>
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/healthy-pasta-alternatives-for-your-next-grocery-run">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="Healthy Pasta Alternatives for Your Next Grocery Run" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/KTTV_7-28-23_Dr_Kellyann_1000x1000_crop_center.png?v=1691073898"/>
</noscript>
<img alt="Healthy Pasta Alternatives for Your Next Grocery Run" class="js" height="616" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/KTTV_7-28-23_Dr_Kellyann_1445x.png?v=1691073898" srcset="//drkellyann.com/cdn/shop/articles/KTTV_7-28-23_Dr_Kellyann_550x.png?v=1691073898 550w,//drkellyann.com/cdn/shop/articles/KTTV_7-28-23_Dr_Kellyann_750x.png?v=1691073898 750w,//drkellyann.com/cdn/shop/articles/KTTV_7-28-23_Dr_Kellyann_1100x.png?v=1691073898 1100w,//drkellyann.com/cdn/shop/articles/KTTV_7-28-23_Dr_Kellyann.png?v=1691073898 1163w" style="max-width: 1163px; max-height: 616px; " width="1163"/>
</div>
</a>
<time class="indiv-post-time" datetime="2023-08-03">August  3, 2023</time>
<h3><a href="/fr/blogs/media-appearances/healthy-pasta-alternatives-for-your-next-grocery-run">Healthy Pasta Alternatives for Your Next Grocery Run</a></h3>
<p><span data-mce-fragment="1">From my latest Good Day LA appearance, I bring you a guide through the pasta aisle. Don't get lost in the choices - whole grain, veggie-infused, or protein-packed. Learn how to make your next pasta meal delicious and nutritious.</span></p>
<a class="btn cta" href="/fr/blogs/media-appearances/healthy-pasta-alternatives-for-your-next-grocery-run">Read More</a>
<div class="article--tags">
                            
                            Tags: 
                            
                                <a href="/fr/blogs/media-appearances/tagged/good-day-la" title="Show articles tagged Good Day LA">Good Day LA</a>, 
                            
                                <a href="/fr/blogs/media-appearances/tagged/media-tv-segments" title="Show articles tagged Media &amp; TV Segments">Media &amp; TV Segments</a>
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/unraveling-the-truth-behind-water-trends-with-good-day-la">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="Unraveling the Truth Behind Water Trends on Good Day LA" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/Vimeo_-_Google_Chrome_2023-05-25_10.58.12_1000x1000_crop_center.png?v=1685026851"/>
</noscript>
<img alt="Unraveling the Truth Behind Water Trends on Good Day LA" class="js" height="617" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/Vimeo_-_Google_Chrome_2023-05-25_10.58.12_1445x.png?v=1685026851" srcset="//drkellyann.com/cdn/shop/articles/Vimeo_-_Google_Chrome_2023-05-25_10.58.12_550x.png?v=1685026851 550w,//drkellyann.com/cdn/shop/articles/Vimeo_-_Google_Chrome_2023-05-25_10.58.12_750x.png?v=1685026851 750w,//drkellyann.com/cdn/shop/articles/Vimeo_-_Google_Chrome_2023-05-25_10.58.12_1100x.png?v=1685026851 1100w,//drkellyann.com/cdn/shop/articles/Vimeo_-_Google_Chrome_2023-05-25_10.58.12.png?v=1685026851 1135w" style="max-width: 1135px; max-height: 617px; " width="1135"/>
</div>
</a>
<time class="indiv-post-time" datetime="2023-05-25">May 25, 2023</time>
<h3><a href="/fr/blogs/media-appearances/unraveling-the-truth-behind-water-trends-with-good-day-la">Unraveling the Truth Behind Water Trends on Good Day LA</a></h3>
<p><span>Dive into the world of water trends and TikTok's 'water tok' with Dr. Kellyann's expert insights, highlighting the pros and cons of hydration alternatives. Discover the best ways to quench your thirst while maintaining optimal health.</span></p>
<a class="btn cta" href="/fr/blogs/media-appearances/unraveling-the-truth-behind-water-trends-with-good-day-la">Read More</a>
<div class="article--tags">
                            
                            Tags: 
                            
                                <a href="/fr/blogs/media-appearances/tagged/fox" title="Show articles tagged FOX">FOX</a>, 
                            
                                <a href="/fr/blogs/media-appearances/tagged/good-day-la" title="Show articles tagged Good Day LA">Good Day LA</a>, 
                            
                                <a href="/fr/blogs/media-appearances/tagged/media-tv-segments" title="Show articles tagged Media &amp; TV Segments">Media &amp; TV Segments</a>
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/dr-kellyann-shares-the-foods-that-are-always-in-her-grocery-cart">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="Dr. Kellyann Shares the Foods That Are Always in Her Grocery Cart on The Rachael Ray Show" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/Vimeo-05-19_12.10.02_1000x1000_crop_center.png?v=1684512977"/>
</noscript>
<img alt="Dr. Kellyann Shares the Foods That Are Always in Her Grocery Cart on The Rachael Ray Show" class="js" height="645" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/Vimeo-05-19_12.10.02_1445x.png?v=1684512977" srcset="//drkellyann.com/cdn/shop/articles/Vimeo-05-19_12.10.02_550x.png?v=1684512977 550w,//drkellyann.com/cdn/shop/articles/Vimeo-05-19_12.10.02_750x.png?v=1684512977 750w,//drkellyann.com/cdn/shop/articles/Vimeo-05-19_12.10.02_1100x.png?v=1684512977 1100w,//drkellyann.com/cdn/shop/articles/Vimeo-05-19_12.10.02.png?v=1684512977 1175w" style="max-width: 1175px; max-height: 645px; " width="1175"/>
</div>
</a>
<time class="indiv-post-time" datetime="2023-05-18">May 18, 2023</time>
<h3><a href="/fr/blogs/media-appearances/dr-kellyann-shares-the-foods-that-are-always-in-her-grocery-cart">Dr. Kellyann Shares the Foods That Are Always in Her Grocery Cart on The Rachael Ray Show</a></h3>
<p><span>In this video from The Rachael Ray Show I share must-have grocery items, offering insights into the health benefits from these foods. Tune in for practical tips on enhancing your diet with these nutrient-dense essentials.</span></p>
<a class="btn cta" href="/fr/blogs/media-appearances/dr-kellyann-shares-the-foods-that-are-always-in-her-grocery-cart">Read More</a>
<div class="article--tags">
                            
                            Tags: 
                            
                                <a href="/fr/blogs/media-appearances/tagged/media-tv-segments" title="Show articles tagged Media &amp; TV Segments">Media &amp; TV Segments</a>
</div>
</div>
<div class="grid__item large--one-third blog--post">
<a class="article__featured-image" href="/fr/blogs/media-appearances/dr-kellyann-talks-why-gut-health-matters-on-the-view">
<div class="responsive-image-wrapper" style="height: 225px; ">
<noscript aria-hidden="true">
<img alt="Dr. Kellyann Talks Why Gut Health Matters on The View" class="" loading="lazy" src="//drkellyann.com/cdn/shop/articles/4_Why_Gut_Health_Matters_And_How_It_Can_Affect_Y_e7f71422-c822-4609-bc4b-c8b415786ed2_1000x1000_crop_center.png?v=1680031761"/>
</noscript>
<img alt="Dr. Kellyann Talks Why Gut Health Matters on The View" class="js" height="931" loading="lazy" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//drkellyann.com/cdn/shop/articles/4_Why_Gut_Health_Matters_And_How_It_Can_Affect_Y_e7f71422-c822-4609-bc4b-c8b415786ed2_1445x.png?v=1680031761" srcset="//drkellyann.com/cdn/shop/articles/4_Why_Gut_Health_Matters_And_How_It_Can_Affect_Y_e7f71422-c822-4609-bc4b-c8b415786ed2_550x.png?v=1680031761 550w,//drkellyann.com/cdn/shop/articles/4_Why_Gut_Health_Matters_And_How_It_Can_Affect_Y_e7f71422-c822-4609-bc4b-c8b415786ed2_750x.png?v=1680031761 750w,//drkellyann.com/cdn/shop/articles/4_Why_Gut_Health_Matters_And_How_It_Can_Affect_Y_e7f71422-c822-4609-bc4b-c8b415786ed2_1100x.png?v=1680031761 1100w,//drkellyann.com/cdn/shop/articles/4_Why_Gut_Health_Matters_And_How_It_Can_Affect_Y_e7f71422-c822-4609-bc4b-c8b415786ed2_1445x.png?v=1680031761 1445w,//drkellyann.com/cdn/shop/articles/4_Why_Gut_Health_Matters_And_How_It_Can_Affect_Y_e7f71422-c822-4609-bc4b-c8b415786ed2.png?v=1680031761 1562w" style="max-width: 1562px; max-height: 931px; " width="1562"/>
</div>
</a>
<time class="indiv-post-time" datetime="2023-03-28">March 28, 2023</time>
<h3><a href="/fr/blogs/media-appearances/dr-kellyann-talks-why-gut-health-matters-on-the-view">Dr. Kellyann Talks Why Gut Health Matters on The View</a></h3>
<p><span>Dr. Kellyann Petrucci joins “The View” co-host Sara Haines to discuss why so many are on the search for answers when it comes to gut health and how a healthy gut can benefit your mental health.</span></p>
<a class="btn cta" href="/fr/blogs/media-appearances/dr-kellyann-talks-why-gut-health-matters-on-the-view">Read More</a>
<div class="article--tags">
                            
                            Tags: 
                            
                                <a href="/fr/blogs/media-appearances/tagged/media-tv-segments" title="Show articles tagged Media &amp; TV Segments">Media &amp; TV Segments</a>
</div>
</div>
</div>
</div>
<div class="grid__item large--one-whole">
<div class="pagination">
<ul>
<li class="prev disabled"><a href="#" onclick="return false;">«</a></li>
<li class="active pagination-number"><a href="" title="">1</a></li>
<li class="pagination-number"><a href="/fr/blogs/media-appearances?page=2" title="">2</a></li>
<li class="pagination-number"><a href="/fr/blogs/media-appearances?page=3" title="">3</a></li>
<li class="ellipsis">…</li>
<li class="pagination-number"><a href="/fr/blogs/media-appearances?page=11" title="">11</a></li>
<li class="pagination-arrow"><a href="/fr/blogs/media-appearances?page=2"><i class="fa fa-chevron-right"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
    </div>
</div>
