
<div class="page-fr-pages-reviews">
    <div class="page-header">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="page-content">
        <div class="wrapper main-content page-main--wrapper" data-main="">
<div class="shopify-section" id="shopify-section-template--15957815230577__main"><!-- /sections/page-template.liquid -->
<div class="wrapper-padded main-page-container">
<div class="grid clearfix">
<div class="grid__item large--one whole">
<div class="sitewide--title-wrapper">
<h1 class="page--title">Reviews</h1>
</div>
<div class="grid">
<div class="rte grid__item">
<div class="yotpo-widget-instance" data-yotpo-instance-id="1003445"></div>
</div>
<div class="page-sidebar grid__item large--one-third">
</div>
</div>
</div>
</div>
</div>
<style> #shopify-section-template--15957815230577__main h1.page--title {font-size: 34px;} #shopify-section-template--15957815230577__main .btn {border-radius: 30px !important;} </style></div>
</div>
    </div>
</div>
