
<div class="page-community-faq">
    <div class="page-header">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="page-content">
        <main class="BtdShopifyContentArea">
<section class="BtdShopifyTabViewSection">
<div class="BtdShopifyContainer">
<div class="BtdShopifyTabContentWrapper BtdShopifyGridView grid__col__4" id="layout1_categoryWithPost">
<div class="BtdShopifyTabContent">
<div class="BtdShopifyTabContentHeader">
<span class="BtdShopifyTabContentHeaderImage">
<img src="https://storage.googleapis.com/betterdocs-shopify-assets/2729/1690382315.png"/>
</span>
<h3 class="BtdShopifyTabContentHeaderTitle">
<a class="BtdShopifyTabContentHeaderTitleLink" href="https://drkellyann.com/community/faq/docs-category/payments-coupons" id="category-title_0">
                                                    Payments &amp; Coupons
                                                </a>
<span class="bd-badge">
                                                        13
                                                    </span>
</h3>
</div>
<div class="BtdShopifyTabContentBody">
<ul class="BtdShopifyTabContentList ls-none">
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/payments-coupons/how-do-i-check-my-gift-card-balance">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>How do I check my Gift Card Balance?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/payments-coupons/what-type-of-orders-can-i-use-my-dr-kellyann-gift-card-on">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>What type of orders can I use my Dr. Kellyann Gift Card on?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/payments-coupons/why-is-a-coupon-code-not-working">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Why is a coupon code not working?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/payments-coupons/where-do-i-enter-a-coupon-code">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Where do I enter a coupon code?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/payments-coupons/what-if-i-make-a-return-on-a-purchase-made-through-installments-with-shop-pay">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>What if I make a return on a purchase made through installments with Shop Pay?
                                                        </a>
</li>
</ul>
</div>
<div class="BtdShopifyTabContentFooter">
<a class="BtdShopifySmallButton BtdShopifyPrimaryButton" href="https://drkellyann.com/community/faq/docs-category/payments-coupons">
                                            View More
                                        </a>
</div>
</div>
<div class="BtdShopifyTabContent">
<div class="BtdShopifyTabContentHeader">
<span class="BtdShopifyTabContentHeaderImage">
<img src="https://storage.googleapis.com/betterdocs-shopify-assets/2730/1690382419.png"/>
</span>
<h3 class="BtdShopifyTabContentHeaderTitle">
<a class="BtdShopifyTabContentHeaderTitleLink" href="https://drkellyann.com/community/faq/docs-category/my-account-" id="category-title_1">
                                                    My Account
                                                </a>
<span class="bd-badge">
                                                        5
                                                    </span>
</h3>
</div>
<div class="BtdShopifyTabContentBody">
<ul class="BtdShopifyTabContentList ls-none">
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/my-account-/how-do-i-contact-your-support-team">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>How do I contact your support team?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/my-account-/how-do-i-unsubscribe-from-your-texts-emails">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>How do I unsubscribe from your texts &amp; emails?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/my-account-/i-am-having-trouble-logging-in-what-do-i-do">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>I am having trouble logging in, what do I do?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/my-account-/my-order-says-unfulfilled-what-does-that-mean">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>My order says unfulfilled, what does that mean?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/my-account-/how-do-i-access-my-account">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>How do I access my account?
                                                        </a>
</li>
</ul>
</div>
<div class="BtdShopifyTabContentFooter">
<a class="BtdShopifySmallButton BtdShopifyPrimaryButton" href="https://drkellyann.com/community/faq/docs-category/my-account-">
                                            View More
                                        </a>
</div>
</div>
<div class="BtdShopifyTabContent">
<div class="BtdShopifyTabContentHeader">
<span class="BtdShopifyTabContentHeaderImage">
<img src="https://storage.googleapis.com/betterdocs-shopify-assets/2725/1690382106.png"/>
</span>
<h3 class="BtdShopifyTabContentHeaderTitle">
<a class="BtdShopifyTabContentHeaderTitleLink" href="https://drkellyann.com/community/faq/docs-category/shipping-delivery" id="category-title_2">
                                                    Shipping &amp; Delivery
                                                </a>
<span class="bd-badge">
                                                        4
                                                    </span>
</h3>
</div>
<div class="BtdShopifyTabContentBody">
<ul class="BtdShopifyTabContentList ls-none">
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/shipping-delivery/what-do-you-charge-for-shipping">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>What do you charge for shipping?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/shipping-delivery/what-locations-do-you-ship-to">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>What locations do you ship to?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/shipping-delivery/how-do-i-track-my-order">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>How do I track my order?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/shipping-delivery/when-will-i-receive-my-order">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>When will I receive my order?
                                                        </a>
</li>
</ul>
</div>
<div class="BtdShopifyTabContentFooter">
<a class="BtdShopifySmallButton BtdShopifyPrimaryButton" href="https://drkellyann.com/community/faq/docs-category/shipping-delivery">
                                            View More
                                        </a>
</div>
</div>
<div class="BtdShopifyTabContent">
<div class="BtdShopifyTabContentHeader">
<span class="BtdShopifyTabContentHeaderImage">
<img src="https://storage.googleapis.com/betterdocs-shopify-assets/2727/1690382190.png"/>
</span>
<h3 class="BtdShopifyTabContentHeaderTitle">
<a class="BtdShopifyTabContentHeaderTitleLink" href="https://drkellyann.com/community/faq/docs-category/orders-subscriptions" id="category-title_3">
                                                    Orders &amp; Subscriptions
                                                </a>
<span class="bd-badge">
                                                        6
                                                    </span>
</h3>
</div>
<div class="BtdShopifyTabContentBody">
<ul class="BtdShopifyTabContentList ls-none">
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/orders-subscriptions/when-will-my-liquid-bone-broth-order-arrive">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>When will my liquid bone broth order arrive?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/orders-subscriptions/how-do-i-manage-my-subscription">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>How do I manage my subscription?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/orders-subscriptions/why-did-i-only-receive-part-of-my-order">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Why did I only receive part of my order?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/orders-subscriptions/what-do-i-do-if-my-package-was-damaged-or-my-liquid-bone-broth-came-thawed">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>What do I do if my package was damaged or my liquid bone broth came thawed?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/orders-subscriptions/can-i-cancel-or-edit-my-order">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Can I cancel or edit my order?
                                                        </a>
</li>
</ul>
</div>
<div class="BtdShopifyTabContentFooter">
<a class="BtdShopifySmallButton BtdShopifyPrimaryButton" href="https://drkellyann.com/community/faq/docs-category/orders-subscriptions">
                                            View More
                                        </a>
</div>
</div>
<div class="BtdShopifyTabContent">
<div class="BtdShopifyTabContentHeader">
<span class="BtdShopifyTabContentHeaderImage">
<img src="https://storage.googleapis.com/betterdocs-shopify-assets/2724/1690382064.svg"/>
</span>
<h3 class="BtdShopifyTabContentHeaderTitle">
<a class="BtdShopifyTabContentHeaderTitleLink" href="https://drkellyann.com/community/faq/docs-category/rewards" id="category-title_4">
                                                    Rewards
                                                </a>
<span class="bd-badge">
                                                        7
                                                    </span>
</h3>
</div>
<div class="BtdShopifyTabContentBody">
<ul class="BtdShopifyTabContentList ls-none">
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/rewards/why-isn’t-my-rewards-coupon-not-working">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Why isn’t my rewards coupon not working?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/rewards/do-you-have-a-referral-program">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Do you have a referral program?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/rewards/can-i-apply-my-points-to-my-subscription">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Can I apply my points to my subscription?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/rewards/do-my-points-expire">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Do my points expire?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/rewards/how-do-i-use-my-points">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>How do I use my points?
                                                        </a>
</li>
</ul>
</div>
<div class="BtdShopifyTabContentFooter">
<a class="BtdShopifySmallButton BtdShopifyPrimaryButton" href="https://drkellyann.com/community/faq/docs-category/rewards">
                                            View More
                                        </a>
</div>
</div>
<div class="BtdShopifyTabContent">
<div class="BtdShopifyTabContentHeader">
<span class="BtdShopifyTabContentHeaderImage">
<img src="https://storage.googleapis.com/betterdocs-shopify-assets/2722/1690381968.png"/>
</span>
<h3 class="BtdShopifyTabContentHeaderTitle">
<a class="BtdShopifyTabContentHeaderTitleLink" href="https://drkellyann.com/community/faq/docs-category/returns-exchanges" id="category-title_5">
                                                    Returns &amp; Exchanges
                                                </a>
<span class="bd-badge">
                                                        3
                                                    </span>
</h3>
</div>
<div class="BtdShopifyTabContentBody">
<ul class="BtdShopifyTabContentList ls-none">
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/returns-exchanges/can-i-exchange-a-product-for-a-different-one">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Can I exchange a product for a different one?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/returns-exchanges/what-happens-next-after-i-start-the-returnrefund-process">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>What happens next after I start the return/refund process?
                                                        </a>
</li>
<li class="BtdShopifyTabContentListItem">
<a class="BtdShopifyTabContentListItemLink" href="https://drkellyann.com/community/faq/returns-exchanges/can-i-return-my-order">
<span class="BtdShopifyIcon">
<i class="fas fa-file-alt"></i>
</span>Can I return my order?
                                                        </a>
</li>
</ul>
</div>
<div class="BtdShopifyTabContentFooter">
<a class="BtdShopifySmallButton BtdShopifyPrimaryButton" href="https://drkellyann.com/community/faq/docs-category/returns-exchanges">
                                            View More
                                        </a>
</div>
</div>
</div>
<style>
    .store-faq__wrapper a{color:inherit;transition:color .3s ease,background .3s ease,border .3s ease,box-shadow .3s ease;text-decoration:none;display:inline-block}.store-faq__wrapper label{margin-bottom:0}.store-faq__wrapper h1,.store-faq__wrapper h2,.store-faq__wrapper h3,.store-faq__wrapper h4,.store-faq__wrapper h5,.store-faq__wrapper h6,.store-faq__wrapper p{margin:0;padding:0}.store-faq__wrapper h1,.store-faq__wrapper h2,.store-faq__wrapper h3,.store-faq__wrapper h4,.store-faq__wrapper h5,.store-faq__wrapper h6{font-weight:700;line-height:1.3}.store-faq__wrapper img,.store-faq__wrapper video{max-width:100%}.store-faq__wrapper{background:#fff;overflow:hidden;line-height:1.7;font-weight:400;margin:0;padding:0;outline:none;border:none;box-sizing:border-box}.sf__container__wrapper{margin:0 auto}.sf__container{max-width:1350px;padding:0 15px;margin:0 auto}.text__center{text-align:center}.text__bold{font-weight:700}.text__capitalize{text-transform:capitalize}.text__uppercase{text-transform:uppercase}.o-hidden{overflow:hidden}.c-pointer{cursor:pointer}.pt120{padding-top:120px}@media  all and (max-width: 991px){.pt120{padding-top:80px}}.pt30{padding-top:30px}@media  all and (max-width: 991px){.pt30{padding-top:20px}}.pb30{padding-bottom:30px}@media  all and (max-width: 991px){.pb30{padding-bottom:20px}}.hide{display:none}.section__header{margin-bottom:60px}@media  all and (max-width: 991px){.section__header{margin-bottom:24px}}.section__header .title{color:#223416;font-size:40px;font-weight:600;margin:0}@media  all and (max-width: 991px){.section__header .title{font-size:24px}}.section__header .subtitle{color:#5d6356;font-size:16px;font-weight:400;margin-top:15px}@media  all and (max-width: 991px){.section__header .subtitle{font-size:14px;margin-top:8px}}.sf-sidebar__layout{display:grid;grid-template-columns:312px 1fr;gap:96px}@media  all and (max-width: 991px){.sf-sidebar__layout{display:flex;flex-direction:column;gap:40px}}.sf-sidebar .sidebar__menu .sidebar__item:not(:last-child){margin-bottom:5px}.sf-sidebar .sidebar__menu .sidebar__item .sidebar__link{display:flex;align-items:center;gap:15px;padding:16px 16px;border-radius:8px;cursor:pointer}.sf-sidebar .sidebar__menu .sidebar__item .sidebar__link img{height:24px}.sf-sidebar .sidebar__menu .sidebar__item .sidebar__link .text{color:#223416;font-size:18px;font-weight:500}.sf-sidebar .sidebar__menu .sidebar__item.active .sidebar__link{background:#edf4e7}.sf-faq .faq__classic .faq__item{border:1px solid #cdd9c2;border-radius:8px;transition:all .3s ease;position:relative;animation:fadeIn .5s linear;animation-fill-mode:both}.sf-faq .faq__classic .faq__item:nth-child(1){animation-delay:.15s}.sf-faq .faq__classic .faq__item:nth-child(2){animation-delay:.3s}.sf-faq .faq__classic .faq__item:nth-child(3){animation-delay:.45s}.sf-faq .faq__classic .faq__item:nth-child(4){animation-delay:.6s}.sf-faq .faq__classic .faq__item:nth-child(5){animation-delay:.75s}.sf-faq .faq__classic .faq__item:nth-child(6){animation-delay:.9s}.sf-faq .faq__classic .faq__item:nth-child(7){animation-delay:1.05s}.sf-faq .faq__classic .faq__item:nth-child(8){animation-delay:1.2s}.sf-faq .faq__classic .faq__item:nth-child(9){animation-delay:1.35s}.sf-faq .faq__classic .faq__item:nth-child(10){animation-delay:1.5s}.sf-faq .faq__classic .faq__item:nth-child(11){animation-delay:1.65s}.sf-faq .faq__classic .faq__item:nth-child(12){animation-delay:1.8s}.sf-faq .faq__classic .faq__item:nth-child(13){animation-delay:1.95s}.sf-faq .faq__classic .faq__item:nth-child(14){animation-delay:2.1s}.sf-faq .faq__classic .faq__item:nth-child(15){animation-delay:2.25s}.sf-faq .faq__classic .faq__item:nth-child(16){animation-delay:2.4s}.sf-faq .faq__classic .faq__item:nth-child(17){animation-delay:2.55s}.sf-faq .faq__classic .faq__item:nth-child(18){animation-delay:2.7s}.sf-faq .faq__classic .faq__item:nth-child(19){animation-delay:2.85s}.sf-faq .faq__classic .faq__item:nth-child(20){animation-delay:3s}.sf-faq .faq__classic .faq__item:not(:last-child){margin-bottom:10px}.sf-faq .faq__classic .faq__item .faq__header{display:flex;align-items:center;justify-content:space-between;padding:24px 24px;cursor:pointer}.sf-faq .faq__classic .faq__item .faq__header .title{color:#223416;font-size:18px;font-weight:500;margin:0}.sf-faq .faq__classic .faq__item .faq__header .icon{font-size:0}.sf-faq .faq__classic .faq__item .faq__header .icon svg{position:relative;transition:all .3s ease}.sf-faq .faq__classic .faq__item .faq__body{max-height:0;transition:all .5s;overflow:hidden}.sf-faq .faq__classic .faq__item .faq__body .faq__content{padding:0 24px 24px}.sf-faq .faq__classic .faq__item .faq__body .text{color:#5d6356;font-size:16px;font-weight:400}.sf-faq .faq__classic .faq__item.show{background:#f2faeb}.sf-faq .faq__classic .faq__item.show .faq__body{max-height:1000px;overflow-x:hidden;overflow-y:auto}@-webkit-keyframes fadeIn{0%{opacity:0;bottom:-50px}75%{opacity:.5;bottom:0px}100%{opacity:1}}.store-faq__wrapper.mobile .sf__container{padding:20px 0 0}.store-faq__wrapper.mobile .sf-sidebar .sidebar__menu .sidebar__item .sidebar__link{background:#fff}.store-faq__wrapper.mobile .sf-sidebar .sidebar__menu .sidebar__item.active{background:#edf4e7;padding:0 0 16px;transition:ease-in-out .25s}.store-faq__wrapper.mobile .sf-sidebar .sidebar__menu .sidebar__item.active .sidebar__link{background:rgba(0,0,0,0);border-radius:0}.store-faq__wrapper.mobile .sf-faq:not(:last-child){margin-bottom:8px}.store-faq__wrapper.mobile .sf-faq .faq__classic .faq__item{margin:0 16px;background:#fff}.store-faq__wrapper.mobile .sf-faq .faq__classic .faq__item:not(:last-child){margin-bottom:8px}.store-faq__wrapper.mobile .sf-faq .faq__classic .faq__item .faq__header{padding:16px 16px 12px}.store-faq__wrapper.mobile .sf-faq .faq__classic .faq__item .faq__header .title{font-size:16px}.store-faq__wrapper.mobile .sf-faq .faq__classic .faq__item .faq__body .faq__content{padding:0 16px 16px;line-height:1.5}.store-faq__wrapper.mobile .sf-faq .faq__classic .faq__item .faq__body .faq__content .text{font-size:14px}
</style>
<style>
    .mobile .sf__container .section__header .title {
        font-size: 24px;
    }
    .mobile .sf__container .section__header {
        margin-bottom: 0 !important;
    }
</style>
<div id="betterdocs-faq-section">
<style>
    .store-faq__wrapper a {
        color: inherit;
        -webkit-transition: color .3s ease, background .3s ease, border .3s ease, -webkit-box-shadow .3s ease;
        transition: color .3s ease, background .3s ease, border .3s ease, -webkit-box-shadow .3s ease;
        transition: color .3s ease, background .3s ease, border .3s ease, box-shadow .3s ease;
        transition: color .3s ease, background .3s ease, border .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
        text-decoration: none;
        display: inline-block
    }

    .store-faq__wrapper label {
        margin-bottom: 0
    }

    .store-faq__wrapper h1, .store-faq__wrapper h2, .store-faq__wrapper h3, .store-faq__wrapper h4, .store-faq__wrapper h5, .store-faq__wrapper h6, .store-faq__wrapper p {
        margin: 0;
        padding: 0
    }

    .store-faq__wrapper h1, .store-faq__wrapper h2, .store-faq__wrapper h3, .store-faq__wrapper h4, .store-faq__wrapper h5, .store-faq__wrapper h6 {
        font-weight: 700;
        line-height: 1.3
    }

    .store-faq__wrapper img, .store-faq__wrapper video {
        max-width: 100%
    }

    .store-faq__wrapper {
        overflow: hidden;
        line-height: 1.7;
        font-weight: 400;
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .sf__container__wrapper {
        margin: 0 auto
    }

    .sf__container {
        max-width: 1350px;
        padding: 0 15px;
        margin: 0 auto
    }

    .text__center {
        text-align: center
    }

    .text__bold {
        font-weight: 700
    }

    .text__capitalize {
        text-transform: capitalize
    }

    .text__uppercase {
        text-transform: uppercase
    }

    .o-hidden {
        overflow: hidden
    }

    .c-pointer {
        cursor: pointer
    }

    .pt120 {
        padding-top: 120px
    }

    .pt30 {
        padding-top: 30px
    }

    .pb30 {
        padding-bottom: 30px
    }

    .hide {
        display: none
    }

    .section__header {
        margin-bottom: 60px
    }

    .section__header .title {
        color: #223416;
        font-size: 40px;
        font-weight: 600;
        margin: 0
    }

    .section__header .subtitle {
        color: #5d6356;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px
    }

    .sf-sidebar__layout {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 312px 1fr;
        grid-template-columns:312px 1fr;
        gap: 96px
    }

    @media  all and (max-width: 991px) {
        .sf-sidebar__layout {
            -ms-grid-columns: 1fr;
            grid-template-columns:1fr;
            gap: 40px
        }
    }

    .sf-sidebar .sidebar__menu .sidebar__item:not(:last-child) {
        margin-bottom: 5px
    }

    .sf-sidebar .sidebar__menu .sidebar__item .sidebar__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 15px;
        padding: 16px 16px;
        border-radius: 8px;
        cursor: pointer
    }

    .sf-sidebar .sidebar__menu .sidebar__item .sidebar__link img {
        height: 24px
    }

    .sf-sidebar .sidebar__menu .sidebar__item .sidebar__link .text {
        color: #223416;
        font-size: 18px;
        font-weight: 500
    }

    .sf-sidebar .sidebar__menu .sidebar__item.active .sidebar__link {
        background: #edf4e7
    }

    .sf-faq .faq__classic .faq__item {
        border: 1px solid #cdd9c2;
        border-radius: 8px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: relative;
        -webkit-animation: fadeIn 0.5s linear;
        animation: fadeIn 0.5s linear;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }

    .sf-faq .faq__classic .faq__item:nth-child(1) {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s
    }

    .sf-faq .faq__classic .faq__item:nth-child(2) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s
    }

    .sf-faq .faq__classic .faq__item:nth-child(3) {
        -webkit-animation-delay: 0.45s;
        animation-delay: 0.45s
    }

    .sf-faq .faq__classic .faq__item:nth-child(4) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s
    }

    .sf-faq .faq__classic .faq__item:nth-child(5) {
        -webkit-animation-delay: 0.75s;
        animation-delay: 0.75s
    }

    .sf-faq .faq__classic .faq__item:nth-child(6) {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s
    }

    .sf-faq .faq__classic .faq__item:nth-child(7) {
        -webkit-animation-delay: 1.05s;
        animation-delay: 1.05s
    }

    .sf-faq .faq__classic .faq__item:nth-child(8) {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s
    }

    .sf-faq .faq__classic .faq__item:nth-child(9) {
        -webkit-animation-delay: 1.35s;
        animation-delay: 1.35s
    }

    .sf-faq .faq__classic .faq__item:nth-child(10) {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s
    }

    .sf-faq .faq__classic .faq__item:nth-child(11) {
        -webkit-animation-delay: 1.65s;
        animation-delay: 1.65s
    }

    .sf-faq .faq__classic .faq__item:nth-child(12) {
        -webkit-animation-delay: 1.8s;
        animation-delay: 1.8s
    }

    .sf-faq .faq__classic .faq__item:nth-child(13) {
        -webkit-animation-delay: 1.95s;
        animation-delay: 1.95s
    }

    .sf-faq .faq__classic .faq__item:nth-child(14) {
        -webkit-animation-delay: 2.1s;
        animation-delay: 2.1s
    }

    .sf-faq .faq__classic .faq__item:nth-child(15) {
        -webkit-animation-delay: 2.25s;
        animation-delay: 2.25s
    }

    .sf-faq .faq__classic .faq__item:nth-child(16) {
        -webkit-animation-delay: 2.4s;
        animation-delay: 2.4s
    }

    .sf-faq .faq__classic .faq__item:nth-child(17) {
        -webkit-animation-delay: 2.55s;
        animation-delay: 2.55s
    }

    .sf-faq .faq__classic .faq__item:nth-child(18) {
        -webkit-animation-delay: 2.7s;
        animation-delay: 2.7s
    }

    .sf-faq .faq__classic .faq__item:nth-child(19) {
        -webkit-animation-delay: 2.85s;
        animation-delay: 2.85s
    }

    .sf-faq .faq__classic .faq__item:nth-child(20) {
        -webkit-animation-delay: 3s;
        animation-delay: 3s
    }

    .sf-faq .faq__classic .faq__item:not(:last-child) {
        margin-bottom: 10px
    }

    .sf-faq .faq__classic .faq__item .faq__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 24px 24px;
        cursor: pointer
    }

    .sf-faq .faq__classic .faq__item .faq__header .title {
        color: #223416;
        font-size: 18px;
        font-weight: 500;
        margin: 0 !important;
    }

    .sf-faq .faq__classic .faq__item .faq__header .icon {
        font-size: 0
    }

    .sf-faq .faq__classic .faq__item .faq__header .icon svg {
        position: relative;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease
    }

    .sf-faq .faq__classic .faq__item .faq__body {
        max-height: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        overflow: hidden
    }

    .sf-faq .faq__classic .faq__item .faq__body .faq__content {
        padding: 0 24px 24px
    }

    .sf-faq .faq__classic .faq__item .faq__body .text {
        color: #5d6356;
        font-size: 16px;
        font-weight: 400
    }

    .sf-faq .faq__classic .faq__item.show {
        background: #f2faeb
    }

    .sf-faq .faq__classic .faq__item.show .faq__body {
        max-height: 1000px
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
            bottom: -50px
        }
        75% {
            opacity: 0.5;
            bottom: 0px
        }
        100% {
            opacity: 1
        }
    }

    /*# sourceMappingURL=style.min.css.map */
</style>
<style>
    .sf__container__wrapper {
        width: 100%;
    }
    .sf__container__wrapper .sf__container {
        padding: 0px 0px 0px 0px;
    }

    /*category counter*/
    .sf-sidebar .sidebar__menu .sidebar__item .sidebar__link img {
        background: ;
        height: ;
        
        color: ;
        font-size: ;
        line-height: ;
    }

    /*faq*/
    .sf-faq .faq__classic .faq__item .faq__header .title {
        font-size: 18px;
        color: #223416;
    }
    .store-faq__wrapper .sf-faq .faq__classic .faq__item.show .faq__header .title {
        color: #223416;
    }
    .store-faq__wrapper .sf-faq .faq__classic .faq__item:hover {
        background: #F2FAEB;
    }
    .store-faq__wrapper .sf-faq .faq__classic .faq__item.show {
        background: #F2FAEB;
    }
    .store-faq__wrapper .sf-faq .faq__classic .faq__item {
        background: #FFFFFF;
    }
    .sf-faq .faq__classic .faq__item .faq__body .text {
        font-size: 16px;
        color: #5D6356;
    }
    .sf-faq .faq__classic .faq__item {
        border:
    1px
    solid
    #CDD9C2;
        box-shadow: 0px 0px 0px 0px #F2FAEB;
    }
    /*heading title*/
    .sf__container .section__header {
        background-color: #FFFFFF00;
    }

    .sf__container .section__header .title {
        font-size: 40px;
        color: #223416;
        margin: 30px 0px 0px 0px  !important;
    }

    .sf__container .section__header .subtitle {
        font-size: 16px  !important;
        color: #5D6356 !important;
        margin: 15px 0px 30px 0px !important;
    }

    /*category*/

    .sf-sidebar .sidebar__menu .sidebar__item.active .sidebar__link {
        /*todo :- not available*/
        background: #edf4e7;
    }
    .sf__container .sf-sidebar__layout .sf-sidebar .sidebar__menu .sidebar__item .sidebar__link .text
    {
        font-size: 18px;
        color: #223416;
        /*todo :- not available*/
        align-items: ;
    }
    .sf-faq .faq__classic .faq__item .faq__header .icon svg {
        height: 20px; /* icon size */
        width: 20px; /* icon size */
    }
    .sf-faq .faq__classic .faq__item .faq__header .icon {
        color: #9FAD92;
    }
    </style>
<div class="store-faq__wrapper">
<div class="sf__container__wrapper">
<div class="sf__container">
<div class="section__header text__center">
<h2 class="title">
                                    Frequently Asked Questions
                            </h2>
<p class="subtitle"> Find Answers To All Your Questions </p>
</div>
<div class="sf-sidebar__layout pb30" id="sf__desktop">
<div class="sf-sidebar">
<div class="sidebar__menu">
<div class="sidebar__item active" id="faq-sidebar-group-0">
<h2 class="sidebar__link" href="#" onclick="showTab('0')">
<span class="text">Get quick answers to our most common questions</span>
</h2>
</div>
</div>
</div>
<div class="sf-content">
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item">
<div class="faq__header" id="head-00" onclick="changeIcon('00')">
<h4 class="title">What are the benefits of a subscription?</h4>
<div class="icon"></div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">Subscription customers receive a discount on every order, one-of-a-kind recipes, early access to sales, and early access to new products!</span></p>
</div>
</div>
</div>
</div>
<div class="faq__item">
<div class="faq__header" id="head-01" onclick="changeIcon('01')">
<h4 class="title">Where can I buy Dr. Kellyann products?</h4>
<div class="icon"></div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">You can buy directly from us at drkellyann.com.You can also purchase on Amazon.com and find retail stores using our store locator. </span><a href="https://drkellyann.com/pages/find-a-store"><span style="font-weight: 400;">https://drkellyann.com/pages/find-a-store</span></a></p>
</div>
</div>
</div>
</div>
<div class="faq__item">
<div class="faq__header" id="head-02" onclick="changeIcon('02')">
<h4 class="title">What are the benefits of bone broth?</h4>
<div class="icon"></div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="color: #242424; font-size: 16px;">Bone broth, a traditional food that has been consumed for centuries, is making a modern resurgence due to its wide array of health benefits. From supporting skin vitality to bolstering gut health, bone broth provides a multitude of benefits that can contribute to overall wellness. </span></p>
</div>
</div>
</div>
</div>
<div class="faq__item">
<div class="faq__header" id="head-03" onclick="changeIcon('03')">
<h4 class="title">What is the difference between Liquid BB and Powdered Bone Broth?</h4>
<div class="icon"></div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<ul>
<li>  <span style="color: #1d1c1d; font-size: 15px;">The Frozen Chicken Broth </span><a class="c-link" data-sk="tooltip_parent" data-stringify-link="https://drkellyann.com/collections/bone-broth/products/chicken-bone-broth-1" href="https://drkellyann.com/collections/bone-broth/products/chicken-bone-broth-1" rel="noopener noreferrer" style="color: rgba(var(--sk_highlight,18,100,163),1);" target="_blank">https://drkellyann.com/collections/bone-broth/products/chicken-bone-broth-1</a><span style="color: #1d1c1d; font-size: 15px;"> is a fresh broth, that you will just thaw. It naturally contains collagen from the joints and marrow of bones when cooking. It is cooked with onions, parsley, and garlic and is simmered for 24 hours with a touch of vinegar. It is made from the bones of organic, pastured chickens, pure filtered water, and the bone broth is packed in 24-ounce BPA-free pouches. If you don’t have time to spend a day or more simmering a pot of bone broth. This is great to use! It ships directly to your door, packed in dry ice to keep it frozen. Just heat and enjoy!</span></li>
</ul>
<ul class="p-rich_text_list p-rich_text_list__bullet" data-border="0" data-indent="0" data-stringify-type="unordered-list" style="color: #1d1c1d; font-size: 15px;">
<li data-stringify-border="0" data-stringify-indent="0">The Collagen Broth-<a class="c-link" data-sk="tooltip_parent" data-stringify-link="https://drkellyann.com/products/collagen-broth?variant=30992101898" href="https://drkellyann.com/products/collagen-broth?variant=30992101898" rel="noopener noreferrer" style="color: rgba(var(--sk_highlight,18,100,163),1);" target="_blank">https://drkellyann.com/products/collagen-broth?variant=30992101898</a></li>
</ul>
<div class="p-rich_text_section" style="color: #1d1c1d; font-size: 15px;"> </div>
<div class="p-rich_text_section" style="color: #1d1c1d; font-size: 15px;">It’s a delicious powdered, on-the-go packet that you can create simply by adding hot water!<br/>Bone broth is one of the easiest ways to load your body with essential nutrients that fight inflammation and help you lose weight, especially when combined with my Bone Broth Diet.<br/>My collagen bone broth also helps to blast wrinkles, heal your gut, and protect your joints.<br/>Here’s what we’ve put in this easy-to-use powdered bone broth:</div>
<ul class="p-rich_text_list p-rich_text_list__bullet" data-border="0" data-indent="0" data-stringify-type="unordered-list" style="color: #1d1c1d; font-size: 15px;">
<li data-stringify-border="0" data-stringify-indent="0">Dehydrated Bone Broth: To fill you up and satisfy your hunger while giving you an array of vitamins and minerals that you need to feel and look great</li>
<li data-stringify-border="0" data-stringify-indent="0">Hydrolyzed Collagen: A bioavailable form of collagen that allows your body to absorb more and reap even more bone broth benefits</li>
<li data-stringify-border="0" data-stringify-indent="0">Turmeric: An anti-inflammatory with antioxidant properties, it will help you blast belly fat and reduce wrinkles</li>
<li data-stringify-border="0" data-stringify-indent="0">Cauliflower: Contains anti-inflammatory properties, helps with digestion and gives you high levels of many vitamins, especially Vitamin C and Vitamin K</li>
<li data-stringify-border="0" data-stringify-indent="0">Reishi Mushrooms: Provides a powerful immune system boost to help you feel healthier</li>
<li data-stringify-border="0" data-stringify-indent="0">Unique Spice Blend: Helps satisfy your craving for delicious and tasty foods</li>
</ul>
</div>
</div>
</div>
</div>
<div class="faq__item">
<div class="faq__header" id="head-04" onclick="changeIcon('04')">
<h4 class="title">What is Collagen?</h4>
<div class="icon"></div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p style="color: #242424; font-size: 16px;">There are several types of protein in the human body, but collagen is the top dog. Collagen is an essential protein comprising many amino acids and is distributed throughout the body. </p>
<p style="color: #242424; font-size: 16px;"><a href="https://my.clevelandclinic.org/health/articles/23089-collagen" rel="noopener noreferrer" style="color: var(--link-color);" target="_blank">Thirty percent of the body’s protein</a> is provided by collagen, so it’s <em>kind of </em>important (as in, the-primary-protein-in-the-body important). Without it, your body couldn’t maintain strong ligaments, tissue, muscles, or bones. </p>
<p style="color: #242424; font-size: 16px;">The body has five collagen types (Type I, Type II, Type III, Type IV, and Type V). Some are made naturally in the body, and others are supported by a healthy diet and exercise. All five are distributed throughout the body’s ligaments, blood vessels, joints, and tendons.</p>
</div>
</div>
</div>
</div>
<div class="faq__item">
<div class="faq__header" id="head-05" onclick="changeIcon('05')">
<h4 class="title">Why aren’t all your products organic?</h4>
<div class="icon"></div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">All of our ingredients would have to be organic in order to get the organic certification listed on the product packaging and on our website. At this time we do not have the ability and/or the availability of organic ingredients in which to do this. We are looking to be able to do this in the future but do not have a </span><span style="font-weight: 400;">current time frame as to when this will be possible.  We do have other great certifications listed below that we believe to be most important in creating a clean product.</span></p>
</div>
</div>
</div>
</div>
<div class="faq__item">
<div class="faq__header" id="head-06" onclick="changeIcon('06')">
<h4 class="title">Do you offer samples?</h4>
<div class="icon"></div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">Unfortunately, we do not have a sample system in place. Due to the cost of shipping, we have not been able to find a way to make it cost effective for our customers. Please remember that we have a 30 day money back guarantee that you can absolutely utilize if you are not happy with your order.</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
    const faqItems = document.querySelectorAll('.faq__item');
    const faqHeaders = document.querySelectorAll('.faq__header');
    const faqBodys = document.querySelectorAll('.faq__body');

    const faqSideBarItems = document.querySelectorAll('.sidebar__item');

    var arrowDownIcon = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                           <path strokeLinecap="round" strokeLinejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                       </svg>`;
    var arrowUpIcon = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                           <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 12h-15" />
                       </svg>`;

    faqHeaders.forEach((header, index) => {
        header.addEventListener('click', () => {
            if (faqItems[index].classList.contains('show')) {
                faqItems[index].classList.remove('show');
            } else {
                faqItems.forEach((item, i) => {
                    if (i !== index) {
                        item.classList.remove('show');
                    }
                });
                faqItems[index].classList.add('show');
            }
        });
    });


    document.querySelectorAll(".faq__header .icon").forEach(function(element) {
        element.innerHTML = arrowDownIcon;
    });

    function changeIcon(key) {
        var el = document.getElementById("head-" + key);
        var parentElement = el.parentElement;
        var groupElement = parentElement.parentElement;
        var allSiblings = Array.from(groupElement.children);
        setTimeout(() => {
            allSiblings.forEach((item, index) => {
                if (item.classList.contains('show')) {
                    item.querySelector(".icon").innerHTML = arrowUpIcon;
                } else {
                    item.querySelector(".icon").innerHTML = arrowDownIcon;
                }
            })
        }, 100);
    }

    function showTab(key) {
        var el = document.getElementById("faq-item-group-" + key);
        var sidebarEl = document.getElementById("faq-sidebar-group-" + key);

        faqSideBarItems.forEach((item, i) => {
            if (item.id === sidebarEl.id) {
                if (!item.classList.contains('active')) {
                    item.classList.add('active');
                }
            } else {
                if (item.classList.contains('active')) {
                    item.classList.remove('active');
                }
            }
        })

        faqItems.forEach((item, i) => {
            var parentElement = item.parentElement;
            if (parentElement.id === "faq-item-group-" + key) {
                if (el.classList.contains('hide')) {
                    el.classList.remove('hide');
                }
                if (item.classList.contains('hide')) {
                    item.classList.remove('hide');
                }
            } else {
                if (!item.classList.contains('hide')) {
                    item.classList.add('hide');
                }
                if (!parentElement.classList.contains('hide')) {
                    parentElement.classList.add('hide');
                }
            }

        });
    }
</script>
</div>
</div>
</div>
<div class="sf-sidebar__layout pb30" id="sf__mobile" style="display: none">
<div class="sf-sidebar">
<div class="sidebar__menu">
<div class="sidebar__item active" id="faq-sidebar-group-0">
<h2 class="sidebar__link" href="#" onclick="mobileShowTab('0')">
<span class="text">Get quick answers to our most common questions</span>
</h2>
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item" id="faq-item-head-00" onclick="toggleFaq('00')">
<div class="faq__header">
<h4 class="title">What are the benefits of a subscription?</h4>
<div class="icon">
</div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">Subscription customers receive a discount on every order, one-of-a-kind recipes, early access to sales, and early access to new products!</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item" id="faq-item-head-01" onclick="toggleFaq('01')">
<div class="faq__header">
<h4 class="title">Where can I buy Dr. Kellyann products?</h4>
<div class="icon">
</div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">You can buy directly from us at drkellyann.com.You can also purchase on Amazon.com and find retail stores using our store locator. </span><a href="https://drkellyann.com/pages/find-a-store"><span style="font-weight: 400;">https://drkellyann.com/pages/find-a-store</span></a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item" id="faq-item-head-02" onclick="toggleFaq('02')">
<div class="faq__header">
<h4 class="title">What are the benefits of bone broth?</h4>
<div class="icon">
</div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="color: #242424; font-size: 16px;">Bone broth, a traditional food that has been consumed for centuries, is making a modern resurgence due to its wide array of health benefits. From supporting skin vitality to bolstering gut health, bone broth provides a multitude of benefits that can contribute to overall wellness. </span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item" id="faq-item-head-03" onclick="toggleFaq('03')">
<div class="faq__header">
<h4 class="title">What is the difference between Liquid BB and Powdered Bone Broth?</h4>
<div class="icon">
</div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<ul>
<li>  <span style="color: #1d1c1d; font-size: 15px;">The Frozen Chicken Broth </span><a class="c-link" data-sk="tooltip_parent" data-stringify-link="https://drkellyann.com/collections/bone-broth/products/chicken-bone-broth-1" href="https://drkellyann.com/collections/bone-broth/products/chicken-bone-broth-1" rel="noopener noreferrer" style="color: rgba(var(--sk_highlight,18,100,163),1);" target="_blank">https://drkellyann.com/collections/bone-broth/products/chicken-bone-broth-1</a><span style="color: #1d1c1d; font-size: 15px;"> is a fresh broth, that you will just thaw. It naturally contains collagen from the joints and marrow of bones when cooking. It is cooked with onions, parsley, and garlic and is simmered for 24 hours with a touch of vinegar. It is made from the bones of organic, pastured chickens, pure filtered water, and the bone broth is packed in 24-ounce BPA-free pouches. If you don’t have time to spend a day or more simmering a pot of bone broth. This is great to use! It ships directly to your door, packed in dry ice to keep it frozen. Just heat and enjoy!</span></li>
</ul>
<ul class="p-rich_text_list p-rich_text_list__bullet" data-border="0" data-indent="0" data-stringify-type="unordered-list" style="color: #1d1c1d; font-size: 15px;">
<li data-stringify-border="0" data-stringify-indent="0">The Collagen Broth-<a class="c-link" data-sk="tooltip_parent" data-stringify-link="https://drkellyann.com/products/collagen-broth?variant=30992101898" href="https://drkellyann.com/products/collagen-broth?variant=30992101898" rel="noopener noreferrer" style="color: rgba(var(--sk_highlight,18,100,163),1);" target="_blank">https://drkellyann.com/products/collagen-broth?variant=30992101898</a></li>
</ul>
<div class="p-rich_text_section" style="color: #1d1c1d; font-size: 15px;"> </div>
<div class="p-rich_text_section" style="color: #1d1c1d; font-size: 15px;">It’s a delicious powdered, on-the-go packet that you can create simply by adding hot water!<br/>Bone broth is one of the easiest ways to load your body with essential nutrients that fight inflammation and help you lose weight, especially when combined with my Bone Broth Diet.<br/>My collagen bone broth also helps to blast wrinkles, heal your gut, and protect your joints.<br/>Here’s what we’ve put in this easy-to-use powdered bone broth:</div>
<ul class="p-rich_text_list p-rich_text_list__bullet" data-border="0" data-indent="0" data-stringify-type="unordered-list" style="color: #1d1c1d; font-size: 15px;">
<li data-stringify-border="0" data-stringify-indent="0">Dehydrated Bone Broth: To fill you up and satisfy your hunger while giving you an array of vitamins and minerals that you need to feel and look great</li>
<li data-stringify-border="0" data-stringify-indent="0">Hydrolyzed Collagen: A bioavailable form of collagen that allows your body to absorb more and reap even more bone broth benefits</li>
<li data-stringify-border="0" data-stringify-indent="0">Turmeric: An anti-inflammatory with antioxidant properties, it will help you blast belly fat and reduce wrinkles</li>
<li data-stringify-border="0" data-stringify-indent="0">Cauliflower: Contains anti-inflammatory properties, helps with digestion and gives you high levels of many vitamins, especially Vitamin C and Vitamin K</li>
<li data-stringify-border="0" data-stringify-indent="0">Reishi Mushrooms: Provides a powerful immune system boost to help you feel healthier</li>
<li data-stringify-border="0" data-stringify-indent="0">Unique Spice Blend: Helps satisfy your craving for delicious and tasty foods</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item" id="faq-item-head-04" onclick="toggleFaq('04')">
<div class="faq__header">
<h4 class="title">What is Collagen?</h4>
<div class="icon">
</div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p style="color: #242424; font-size: 16px;">There are several types of protein in the human body, but collagen is the top dog. Collagen is an essential protein comprising many amino acids and is distributed throughout the body. </p>
<p style="color: #242424; font-size: 16px;"><a href="https://my.clevelandclinic.org/health/articles/23089-collagen" rel="noopener noreferrer" style="color: var(--link-color);" target="_blank">Thirty percent of the body’s protein</a> is provided by collagen, so it’s <em>kind of </em>important (as in, the-primary-protein-in-the-body important). Without it, your body couldn’t maintain strong ligaments, tissue, muscles, or bones. </p>
<p style="color: #242424; font-size: 16px;">The body has five collagen types (Type I, Type II, Type III, Type IV, and Type V). Some are made naturally in the body, and others are supported by a healthy diet and exercise. All five are distributed throughout the body’s ligaments, blood vessels, joints, and tendons.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item" id="faq-item-head-05" onclick="toggleFaq('05')">
<div class="faq__header">
<h4 class="title">Why aren’t all your products organic?</h4>
<div class="icon">
</div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">All of our ingredients would have to be organic in order to get the organic certification listed on the product packaging and on our website. At this time we do not have the ability and/or the availability of organic ingredients in which to do this. We are looking to be able to do this in the future but do not have a </span><span style="font-weight: 400;">current time frame as to when this will be possible.  We do have other great certifications listed below that we believe to be most important in creating a clean product.</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sf-faq">
<div class="faq__classic">
<div id="faq-item-group-0">
<div class="faq__item" id="faq-item-head-06" onclick="toggleFaq('06')">
<div class="faq__header">
<h4 class="title">Do you offer samples?</h4>
<div class="icon">
</div>
</div>
<div class="faq__body">
<div class="faq__content">
<div class="text">
<p><span style="font-weight: 400;">Unfortunately, we do not have a sample system in place. Due to the cost of shipping, we have not been able to find a way to make it cost effective for our customers. Please remember that we have a 30 day money back guarantee that you can absolutely utilize if you are not happy with your order.</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
    const newDocument = document.getElementById("betterdocs-faq-section");
    const mobileFaqHeaders = newDocument.querySelectorAll('#sf__mobile .faq__header');

    const mobileAllFaqGroups  = newDocument.querySelectorAll('#sf__mobile .sidebar__item');
    const mobileFaqItems = newDocument.querySelectorAll('#sf__mobile .faq__item');

    var mobileArrowDownIcon = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                           <path strokeLinecap="round" strokeLinejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                       </svg>`;
    var mobileArrowUpIcon = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                           <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 12h-15" />
                       </svg>`;

    newDocument.querySelectorAll("#sf__mobile .faq__header .icon").forEach(function(element) {
        element.innerHTML = mobileArrowDownIcon;
    });

    const toggleFaq = (key) => {
        let faqItemBody = newDocument.querySelector(`#sf__mobile #faq-item-head-${key}`);

        if (faqItemBody.classList.contains('show')) {
            faqItemBody.classList.remove('show');
            faqItemBody.querySelector(".faq__header .icon").innerHTML = mobileArrowDownIcon;
        } else {
            faqItemBody.classList.add('show');
            faqItemBody.querySelector(".faq__header .icon").innerHTML = mobileArrowUpIcon;
        }
    }

    const mobileShowTab = (key) => {
        let clickedGroup = newDocument.querySelector(`#sf__mobile #faq-sidebar-group-${key}`);
        let mobileFaqItemsInSelectedGroup = newDocument.querySelectorAll(`#sf__mobile #faq-sidebar-group-${key} .sf-faq .faq__classic .faq__item`);

        mobileAllFaqGroups.forEach((faqGroup, key) => {
            if (faqGroup.id === clickedGroup.id) {
                clickedGroup.classList.add('active');
                mobileFaqItemsInSelectedGroup.forEach(item => item.classList.remove('hide'));
            } else {
                faqGroup.classList.remove('active');
                faqGroup.querySelectorAll(".faq__item").forEach(item => item.classList.add('hide'));
            }
        });
    }
    document.addEventListener('DOMContentLoaded', () => {
        const faqContainer = newDocument;
        if (faqContainer) {
            const faqWrapper = newDocument.querySelector('.store-faq__wrapper');
            if (faqWrapper) {
                const direction = window.getComputedStyle(faqWrapper).direction;
                const isRtl = direction === 'rtl';
                if (isRtl) {
                    // Function to replace question marks with Arabic question marks
                    const replaceQuestionMark = (elements) => {
                        elements.forEach((element) => {
                            let content = element.textContent.trim();
                            if (content.endsWith('?')) {
                                content = content.slice(0, -1) + '؟'; // Arabic question mark
                                element.textContent = content;
                            }
                        });
                    };

                    // Query selectors for the elements that need to be processed
                    const selectors = [
                        '.faq__item .faq__header .title',
                        '.faq__item .faq__header .subtitle',
                        '.sf__container .sf-sidebar__layout .sf-sidebar .sidebar__menu .sidebar__item .sidebar__link .text',
                        '.sf-faq .faq__classic .faq__item .faq__header .title',
                        '.sf-faq .faq__classic .faq__item .faq__body .text'
                    ];

                    // Iterate over selectors and apply the replacement function
                    selectors.forEach(selector => {
                        replaceQuestionMark(faqWrapper.querySelectorAll(selector));
                    });
                }
            }
        }

    });

</script>
</div>
</div>
</div>
<script>
    const mainWrapper = document.querySelector('.store-faq__wrapper');
    // Define media queries like CSS for various screen widths
    const isMobile = window.matchMedia("(max-width: 991px)");
    const isTablet = window.matchMedia("(min-width: 992px) and (max-width: 1023px)");
    const isDesktop = window.matchMedia("(min-width: 1024px)");

    const mobileElement = document.getElementById('sf__mobile');
    const desktopElement = document.getElementById('sf__desktop');

    // Function to apply different behaviors based on screen width
    function applyResponsiveDesign() {
        if (isMobile.matches) {
            mainWrapper.classList.add('mobile');
            mobileElement.style.display = "flex";
            desktopElement.style.display = "none";
        }  else {
            mainWrapper.classList.remove('mobile');
            mobileElement.style.display = "none";
            desktopElement.style.display = "grid";
        }
    }

    // Initial call
    applyResponsiveDesign();

    // Listen for changes in screen width
    isMobile.addEventListener("change", applyResponsiveDesign);
    isTablet.addEventListener("change", applyResponsiveDesign);
    isDesktop.addEventListener("change", applyResponsiveDesign);

</script>
</div>
</div>

</section></main>
    </div>
</div>
